image: node:latest

before_script:
  - yarn

cache:
  paths:
    - node_modules/

pages:
  script:
    - yarn build
    - mv public public_src
    - mv build public
    - cp public/index.html public/404.html
  artifacts:
    paths:
      - public
  only:
    - master
